body{
margin: 0px;
padding: 0px;
font-family:Arial, Helvetica, sans-serif;
}


/* utilities */
.container{
    overflow: hidden;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.green{
    color: green;
    }
.blue{
    color: #316dc3;
    }
.h1,h1,h5{
        font-family: serif;
        font-weight: 700;
    font-size: 34px;
    }


/* go to top */
.goto-top {
    width: 8%;
    display: flex;
    height: 10%;
    background-color: #868a864f;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border-radius: 10px;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.goto-top i{
    font-size: 45px;
    color: grey;
}

/* ///////////////////Top Line///////////////////////////////// */
#top-line{
    padding: 10px 20px;
    background-color: #316DC3 ;
}
/* icons */
.social-icon i{
    color: white;
    margin: 0px 12px;
    padding: 0px;
}
.social-icon i:hover{
    font-size: 20px;
}
#wattsapp{
    color: lightgreen;
}
/* paragragh*/
.imp-words p{
    margin: 0px;
    color: azure;
    font-size: 15px;
}
/* buttons */
.imp-button{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.imp-button button{
background-color: aliceblue;
padding: 5px;
margin:  0px 5px 0px 0px;
font-size: 12px;
color:#2f5500;
border-color:#427900;
letter-spacing: 2px;
}
.btn-outline-success:hover{
    font-weight: 600;
    color: rgb(36, 40, 37);
    background-color: #d4ffe8;
}





/* ///////////////////NavBar///////////////////// */
.navbar{
    height: 80px;
    z-index: 1;
}   
.navbar-collapse{
    background-color: white;
    z-index: 1;
}
.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
  }
/* logo */
#logo img{
    width: 200px;
}
/* nav items */
.nav-link {
    padding: 10px 15px 10px 15px !important;
    font-size: 14px !important;
    text-align: center;
}
.navbar-nav .nav-link:hover,.navbar-nav .nav-link:active
{  
    background-color: #95bffa;
    border-radius: 15px;
    color: rgb(22, 21, 21) !important;
}
.dropdown-item{
    font-size: 14px;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    padding: 0px 0px 0px 30px;
    text-decoration: none;
    background-color: #b9dcff;
}



/*//////////////////// carousel////////////// */
.carousel-item img{
    height: 400px;
}

/*//////////////////// word slide////////////////////// */
#news{
    margin: 10px 0px;
}
.word-slide{
    background-color: #316dc3;
    color: cornsilk;
    font-size: 13px;
    padding: 2px 5px 5px 5px;
    border: 1px solid rebeccapurple;
    height: 30px;
    overflow: hidden;
    
}
.word-slide p{
       margin: 0px;
       font-size: 12px;
}
.word-slide Dated{
    color: #0fff0f;
}
.word-slide a{
    color: blue;
}

/* /////////////////////intro //////////////////////*/
#intro{
margin: 40px auto 150px auto;
}
/* /////////////////introduction and facilities */
#intro p{
    color: #8d8d8d;
    font-size: 15px;
}
/* ////////////////////// All logo small */
.logo-small{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: -5px 0px 30px 0px;

}
.logo-small img{
height: 40px;
border-radius: 50%;
margin: 10px;
}
/* line */
.line {
    content: "";
    display: inline;
    position: relative;
    top: 46px;
    width: 66px;
    height: 1px;
    background-color: rgb(80, 158, 80);
    }


/*////////////// analysis container////////////// */
#no-analysis{
    background-color: #006aff;
    margin: 60px auto 0px auto;
}
.analysis-container{
    padding:60px 0px;
}
/* box */
.analysis{
    text-align: center;
    padding: 40px 0px;
}
.analysis img{
    width: 25%;
    /* height: 45px; */
}
.analysis h1{
    font-size: 2.5rem;
    font-family: 'Merienda', cursive;
    color: snow;
    padding: 15px 0px;
}
.analysis .white{
    font-size: 16px;
    color: #f5f9f5;
    font-weight: 600;
}
.analysis .dark-green{    
    font-size: 17px;
    font-weight: 600;
    color: #0fff0f;
}


/* ////////////////// facilities ///////////////*/
#facilities-box{
    background-color: #f4f4f4;
    padding: 60px;
}
.facilities .row{
    display: flex;
    justify-content: center;
}
/* card */
.main-faci{
    margin: 0px 0px 20px 0px;
}
.faci{   
    width:100%;
    height: 100%;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-body img{
    width: 25%;
}
.card-title{
    text-align: center;
    padding: 25px 0px 0px 0px;
    font-size: 18px;
    font-weight: 600;
}



/* /////////////mission /////////////////*/
.mission-container{
    padding: 30px 10px 60px px;
}

/* //////////////////mission */
.mission{
    margin: 0px 0px 25px 0px;
}
.mission .m-list{  
      display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #b7b0b0;
    background-color: #f7f8fa;
    list-style-type: none;
    padding: 25px 0px;
    margin: 20px 0px 0px 0px;
    border-radius: 10px;
}
/* heading */
.text-1 .blue{
    text-align: left;
    font-size: 24px;
    font-family: 'Merienda', cursive;
    color: #316dc3;
}
/* line */
.text-1{
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    width: fit-content;
    overflow: hidden;
}
.text-1 .line {
    content: "";
    display: inline;
    position: relative;
    top: 0px;
    width: 58px;
    height: 3px;
    background-color: rgb(80, 158, 80);
}
.text-1 .line::after {
    content: "";
    display: inherit;
    position: relative;
    top: 0px;
    left: 57px;
    width: 400px;
    height: 3px;
    background-color: rgb(205, 205, 205);
}
/* strip */
.m1 h1{
    font-size: 16px;
    margin: 0px;
}
.mission img{
    margin: 0px 20px;
    width: 8%;
}

    /* //////////Upcomming Event */
    .upcoming .card-text{
    text-align: left;
    width: 90%;
    font-size: 15px;
    color: #8d8d8d;
    border: 1px none;
    height: 300px;
    overflow: hidden;
    /* padding: 0px; */
    }
/* line */
.upcoming .text-1 .line {
    content: "";
    display: inline;
    position: relative;
    top: 0px;
    width: 58px;
    height: 3px;
    background-color: rgb(80, 158, 80);
}
.upcoming .text-1 .line::after {
    content: "";
    display: inherit;
    position: relative;
    left: 57px;
    width: 190px;
    height: 3px;
    background-color: rgb(205, 205, 205);
}

/* ///////////////////////////Gallery////////////////// */
#gallery{
    padding: 40px 0px 150px 0px;
}
.gallery-img .img-set{
    display: flex;
    justify-content: center;
    margin: 10px 2px;
    padding: 0px;
}
.gallery-img img{
    width:190px;
}


/* ////////////////contact/////////////////// */
#contact{  
      background-color: #050505e3;
    color: rgb(247, 242, 242);
    padding: 80px 5px;
}
/* detail */
.contact-detail {
    padding: 40px 0px 50px 5px;
    letter-spacing: 1px;
    color: #d9d9d9;
    font-size: 13px;
    word-spacing: 1px;
    line-height: 25px;
}
.contact-detail span{    
    padding: 0px 0px 0px 5px;
}
.contact-detail i{
        color: rgb(52, 107, 52);
    padding: 0px 10px;
    font-size: 14px;
}
/* text */
.social-text h1{
    font-family: serif;
    font-size: 16px;
    color: white;
}

/* line */
.social-text{
    margin: 0px 0px 35px 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
    overflow: hidden;
}
.social-text .line {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    width: 58px;
    height: 3px;
    background-color: rgb(56, 95, 56);
}
.social-text .line::after {
        content: "";
        display: block;
        position: relative;
        left: 57px;
        width: 390px;
        height: 3px;
        background-color: rgb(139, 133, 133);
    }

/* icon */
.social-contact{
    margin: 0px 0px 30px 0px;
}
.social-contact .blue{
    text-align: left;
}
.social-contact h1{
    font-family: serif;
    font-size: 16px;
    color: white;  
}
    .social-contact i{
    background-color: #1264db;
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    border-radius: 50%;
    }


/* copyright */
.copyright {
    background-color: rgb(18, 100, 219); 
    margin: 0px auto;
}
.copyright p{
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 20px 20px;
    margin: 0px;
    
}




@media (min-width: 300px) and (max-width: 575.98px){ 

    .goto-top{
        width: 25%;
        }
 .h1{
        font-size: 28px ;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

    .goto-top{
    width: 15%;
    }
    .h1{
        font-size: 30px;
    }
 }
